@mixin a11y-oulline {
  position: relative;
  z-index: auto;
  &:focus,
  &:focus-within {
    outline: none;
  }
  &::before {
    /* Position the pseudo-element. */
    content: " ";
    border-radius: var(--a11y-box-shadow-radius);
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);

    box-shadow: 0 0 0 var(--a11y-box-shadow-width) var(--a11y-box-shadow-color);
    opacity: 0;
    z-index: 5;
  }
  &:focus-within::before {
    /* Show the pseudo-element on hover. */
    opacity: 1;
  }
}
