/** Layout Constants */
$layout-mobile-min: 0px;
$layout-mobile-sm-max: 320px;
$layout-mobile-lg-max: 425px;
$layout-tablet-min: 426px;
$layout-tablet-max: 768px;
$layout-desktop-min: 769px;
$layout-desktop-max: 33554428px;
