.root {
    background: var(--card-background-color) 0% 0% no-repeat border-box;
    opacity: 1;
    padding: 10px 24px 10px 24px;
    border-radius: 8px;
    box-sizing: border-box;
}
.root-borders{
    border: 1px solid var(--card-border-color);
}

.root-elevation-1{
    box-shadow: var(--card-shadow-color) 0px 1px 1px 0px;
}
.root-elevation-2{
    box-shadow: var(--card-shadow-color) 0px 1px 2px 0px;
}
.root-elevation-3{
    box-shadow: var(--card-shadow-color) 0px 1px 4px 0px;
}
.root-elevation-4{
    box-shadow: var(--card-shadow-color) 0px 2px 5px 0px;
}
.root-elevation-5{
    box-shadow: var(--card-shadow-color) 0px 2px 8px 0px;
}
.root-elevation-6{
    box-shadow: var(--card-shadow-color) 0px 3px 10px 0px;
}
.root-elevation-7{
    box-shadow: var(--card-shadow-color) 0px 4px 10px 0px;
}
.root-elevation-8{
    box-shadow: var(--card-shadow-color) 0px 4px 10px 0px;
}
.root-elevation-9{
    box-shadow: var(--card-shadow-color) 0px 4px 12px 0px;
}
.root-elevation-10{
    box-shadow: var(--card-shadow-color) 0px 5px 14px 0px;
}