.root {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
}

.outline {
  border: var(--button-group-border);
  :not(:last-child) {
    border-inline-end: var(--button-group-border-inline-end);
  }
}
