.root {
  margin: 0;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

@mixin p1 {
  text-align: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--typography-color);
  opacity: 1;
}

@mixin p2 {
  text-align: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--typography-color);
  opacity: 1;
}

@mixin p3 {
  text-align: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: var(--typography-color);
  opacity: 1;
}

.h1 {
  text-align: left;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 0px;
  color: var(--typography-color);
  opacity: 1;
}

.h2 {
  text-align: left;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0px;
  color: var(--typography-color);
  opacity: 1;
}

.h3 {
  text-align: left;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0px;
  color: var(--typography-color);
  opacity: 1;
}

.h4 {
  text-align: left;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0px;
  color: var(--typography-color);
  opacity: 1;
}

.h5 {
  text-align: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0px;
  color: var(--typography-color);
  opacity: 1;
}

.h6 {
  text-align: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--typography-color);
  opacity: 1;
}

.p1 {
  @include p1;
}

.p2 {
  @include p2;
}

.p3 {
  @include p3;
}

.link {
  color: var(--premail-link);
  text-decoration-color: var(--premail-link);
}

.bold {
  font-weight: 700;
}

.strikethrough {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}

.disableMargins {
  margin: 0px;
}
